body{
	margin: 0;
  background-color: rgb(0, 75, 169);
	font-family: Helvetica;
}

* {
  box-sizing: border-box;
}

.header{
  background-color: #f8f8ff;
  border: 1px solid #f8f8ff;
  padding: 2px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.header a{
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  float: right;
  padding:60px;
}

.header a:hover{
	background-color: rgb(0, 145, 199);
  color: black;
}

.home {
	background-color: rgb(0, 145, 199);
	color: white;
}

.our_product{
	color: rgb(0, 145, 199);
}

.contact{
	color: rgb(0, 145, 199);
}

.menu{
  top: 30px;
  left: 13px;
  margin-top: 5px;
  position: absolute;
	display: none;
}

.menu div{
  border: 1px solid rgb(0, 75, 169);
  width: 30px;
  padding: 1px;
  margin: 5px;
  border-radius: 50px;
  background-color: rgb(0, 75, 169);
}

.menu:hover{
  background-color: #969696;
}

#x-button{
  left: 10px;
  position: absolute;
  font-family: "Arial";
  color: white;
}


ul{
  list-style-type: none;
  height: 100%;
}

#menu_nav{
  top: 0px;
  position: absolute;
  z-index: 2;
  border: 1px solid rgb(0, 75, 169);
  height: 780px;
  font-size: 25px;
  background-color: rgb(0, 75, 169);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
}

#menu_nav li{
  text-align: center;
  padding: 50px;
}

li a{
  text-decoration: none;
  color: white;
}

#menu_nav li:hover{
  background-color: #00008B;
}

#potable_logo{
  width:150px;
  padding:20px;
  margin-left: 50px;
}

.main{
    display: inline-block;
    position: relative;
    z-index:-1;
}

.water_quote{
  text-align:center;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:30px;
	animation-name: animation;
  animation-duration: 4s;
	opacity: 1;
  position: absolute;
	text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

@keyframes animation {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.bilde1{
  width: 100%;
  height: auto;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: #707070;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 16px;
    bottom:0;
    width:100%;
}

@media only screen and (max-width: 1150px){
	.water_quote{
		font-size: 25px;
	}
}

@media only screen and (max-width: 934px){
	.water_quote{
		font-size: 20px;
		margin-top: 250px;
	}

	body{
		background-image: url("bilder/bilde1.jpg");
	}
}

@media only screen and (max-width: 816px){
	.header a{
		display: none;
	}

	.menu{
		display: block;
	}

	#potable_logo{
		margin-left: 330px;
		width: 100px;
	}

	.water_quote{
		font-size: 15px;
	}

}

@media only screen and (max-width: 705px){
	#potable_logo{
		margin-left: 270px;
	}
	body{
		background-image: url("bilder/bilde1.jpg");
	}
}

@media only screen and (max-width: 586px){
	#potable_logo{
		margin-left: 220px;
	}
	.water_quote{
		font-size: 20px;
		margin-top: 200px;
	}
}

@media only screen and (max-width: 500px){
	#potable_logo{
		margin-left: 190px;
	}
	.water_quote{
		font-size: 11px;
		margin-top: 100px;
	}


	body{
		background-image: url("bilder/bilde1.jpg");
	}
}

@media only screen and (max-width: 425px){
	#potable_logo{
		margin-left: 160px;
	}
	.water_quote{
		font-size: 11px;
		margin-top: 100px;
	}
}

@media only screen and (max-width: 375px){
	#potable_logo{
		margin-left: 145px;
	}
	.water_quote{
		font-size: 10px;
	}
}

@media only screen and (max-width: 320px){
	#potable_logo{
		margin-left: 115px;
	}
	.water_quote{
		font-size: 7px;
	}
}
